/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0e68c;
  background-image: url("../assets/img/bg-masthead.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #333;
}

#quiz-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: linear-gradient(to bottom right, #f7c948, #f6b73b, #e6a70d);
  border-radius: 10px;
  border: 2px solid #d9a520;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Question Styles */
.question {
  margin-bottom: 20px;
  padding: 20px;
  background: linear-gradient(to right, #f6e08f, #f6c947);
  border-radius: 8px;
  border-bottom: 3px solid #d9a520;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.question p {
  font-weight: bold;
  font-size: 1.5em;
  color: #d69e2e;
  background-color: #fff;
  padding: 15px;
  border: 2px solid #d69e2e;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  padding: 10px 15px;
  background: linear-gradient(to bottom, #fff8e1, #f7c948);
  border: 2px solid #d9a520;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label:hover {
  background-color: #e6a70d;
  border-color: #d9a520;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.question input[type="radio"] {
  margin-right: 10px;
}

/* Button Styles */
button[type="submit"] {
  background-color: #d69e2e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
  background-color: #b58929;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media (max-width: 600px) {
  #quiz-container {
    margin: 20px auto;
    padding: 10px;
  }
  .question {
    padding: 10px;
  }
}

/* Image Styles */
.question img {
  width: 200px; /* desired width */
  height: auto; /* keep aspect ratio */
  display: block;
  margin: 0 auto; /* center the image */
}
