* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.anakutu {
    display: flex;
    width: 50%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
}

.soltaraf {
    width: 35%;
    padding: 20px;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
}
.sagtaraf {
    width: 65%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.sagtaraf h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.sagtaraf form {
    display: flex;
    flex-direction: column;
}
.sagtaraf label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.sagtaraf input[type="email"],
.sagtaraf input[type="password"] {
    height: 40px;
    padding: 0 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.sagtaraf button {
    height: 40px;
    background-color: #c8462f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 0 10px 100px;
    width: 350px;
}
.sagtaraf button:hover {
    background-color: #97190a;
}
.sagtaraf button:last-child {
    margin-bottom: 0;
}
.katman {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
}
.sagtaraf form a {
    color: #6e6d6d;
    text-decoration: underline;
    margin: 10px 0 0 430px;
}
.sagtaraf form a:hover{
    color: #302f2f;
    text-decoration: none;
}
