{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<h1>Welcome to the Home Page</h1>
<button id="quizButton">Start Quiz</button>
<button id="addWordButton">Add Word</button>
<button id="analiseReportButton">Get Analyse Report</button>
<button id="settingsButton">Settings</button>
<div id="analiseReportContainer"></div>

<script src="{% static 'js/app/home.js' %}"></script>
<script src="{% static 'js/base/jquery-3.6.0.min.js' %}"></script>

</body>
</html>
